QUERY_TRANSFORMATION_URL=http://query-transformation-service:8000
RAG_URL=http://rag-service:8000
WEB_SEARCH_URL=http://web-search-service:8000
DOC_GENERATION_URL=http://doc-generation-service:8000
FORMAT_URL=http://format-service:8000
SCRAPE_URL=http://scrape-service:8000

TAVILY_API_KEY=
LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=LangGraph-Tutorial
OPENAI_API_KEY=
